body {
  width: 100%;
  font-family: 'Patua One', cursive;
}

.white {
  color: white;
}

.main-nav {
  background-color: #2a2a2a;
  height: 70px;
  font-size: 20px;
  position: fixed;
  z-index: 1000;
  margin-top: 64px;
  width: 100%;
  background: rgba(76, 175, 80, 0.3);
}

.main-nav-header {
  position: absolute;
  top: 15px;
}

.navbar-toggler-button {
  position: absolute;
  right: 20px;
  top: 15px;
}

.main-nav-hrefs li {
  margin-left: 20px;
}

.main-nav-pages {
  margin: 0 auto;
}

.dropdown-menu {
  background-color: #343a40;
}

.dropdown-item {
  color: white;
}

.main-nav-icons {
  float: right;
  position: absolute;
  right: 20px;
  top: 20px;
}

.nav-call {
  position: absolute;
  right: 100px;
  top: 20px;
}

.nav-mail {
  position: absolute;
  right: 60px;
  top: 20px;
}

.navbar-nav {
  width: 100%;
  text-align: center;
}

.navbar-nav li {
  float: none;
  display: inline-block;
}

.jumbotron {
  padding: 0;
}

.main-info {
  margin-top: 67px;
}

.Main-Slider {
  margin-top: -64px;
  height: 100vh;
  width: auto;
}

.footer-main {
  background-color: #343a40;
  height: 250px;
  text-align: center;
  margin-bottom: 0px;
}

.footer-blocks {
  background-color: #343a40;
}

.footer-text {
  float: left;
}

.test {
  background-color: yellow;
}
